#status-pane-title {
    border-bottom: 1px solid #ccc;
    font-size: 1em;
    margin-bottom: 3px;
    text-align: center;
}

.FeedbackBox {
    border-bottom: 1px dotted #ccc;
    font-size: 0.8em;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
}

/*
 * Progress bar holder
 */
#Holder_Progress {
    position: relative;
    height: 65px;
}

#ProgressBarContainer {
    border: 1px solid rgba(60,60,60,1);
    /* Position */
    position: absolute;
    top: 52px;
    left: 0px;
    height: 4px;
    width: 200px;
}

#ProgressBarFilled {
    background: yellow;
    border: 0px;
    /* Position */
    position: absolute;
    height: 4px;
    width: 100px;
}