#action-stack-control-holder {
    /* Holder_ActionStackControl { */
    background: transparent;
    position: absolute;
    left: 580px;
    top: 53px;
    height: 50px;
    width: 160px;
}

.action-stack-button {
    color: rgba(0,0,0,1);
    height: 40px;
    width: 65px;
}

.action-stack-icons {
    height: 16px;
    width: 16px;
}