
/********************************************************************************
 * Message holder
 */
#Holder_Message {
    background: rgba(255,255,255,0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 100%;
}

#MessageBox {
    background: rgba(69,183,214,1);
    border: 3px solid rgba(255,255,255,1);
    color: white;
    font-size: 14pt;
    padding: 10px;
    position: absolute;
    visibility: hidden;
    width: 720px;
}

.MessageBoxIcons {
    height: 12px;
    position: relative;
    top: 0px;
    width: 12px;
}